# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.mypy_cache/
.pytest_cache/

# Environments
.venv/
venv/
env/
.env
.env.*
*.local

/output/*
!/output/.gitkeep

# Database
DB/postgres_data/
*.db
*.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo

users/*
configs/*

*config.json

*.node_modules
*.next
*.node_modules/*
*.next/*

ATS_NEW/backend/configs/*
ATS_NEW/backend/users/*
ATS_NEW/frontend/node_modules/*
ATS_NEW/frontend/.next/*