@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 30, 27, 75;
}

body {
  background: radial-gradient(circle at top right,
      #e0f2fe 0%,
      #f8fafc 100%);
  color: #1e293b;
  min-height: 100vh;
}